SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="___iwdevmac___" , ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="___ivdevname___"