ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="__idVendor__", ATTR{idProduct}=="__idProduct__", RUN+="/sbin/modprobe __driver__", ENV{MODALIAS}="ignore"